@import "https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css";


//color variables to test
$light-gray:#eee;
$dark-gray:#333;

$white:#fff;

$dark-red:#660000;
$red:#990000;
$light-red:#ff0000;

$dark-blue:#003366;
$blue:#3333ff;
$light-blue:#3399cc;

$dark-green:#006600;
$green:#009900;
$light-green:#66ff66;


//random styles
button{
  margin:10px;
  width:100px;
  padding:5px;
  background-color:black;
  color:white;
  border-radius:5px;
}

body{
  background-color: #eee;
  width:100vw;
  height: 100vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ab-toaster{
  position: fixed;
  bottom:20px;
  right:20px;
}
ab-toasters{
  position: fixed;
  bottom:20px;
  left:20px;

  display:flex;
  flex-direction: column;
  align-items:center;


}

.bubble-message{
  
  max-width:300px;
  
  background-color:lighten(lightblue,15%);
  border-radius:10px;
  border: 2px solid lighten(lightblue,10%);

  
  display:flex;
  align-items:center;
  color:darken(lightblue,30%);
  
  text-align:center;
  
  margin:10px;
  
  &:hover{
    cursor:pointer;
  }
  i{
    padding:20px;
    font-size:2.5em !important;
    width:70px;
  }
  .alert-text{
    flex-grow:1;
    font-size:1.4em;
    font-family: 'Asap', cursive;
    
    padding-right:20px;
    padding-top:20px;
    padding-bottom:20px;
  }
  &.warning{
    background-color:lighten(red,45%);
    border-color:lighten(red,40%);
    color:lighten(red,10%);
  }
  &.success{
    background-color:lighten(green,66%);
    border-color:lighten(green,60%);
    color:lighten(green,10%);
  }
}


ab-toast-msg{
  &.ng-animate{
    &.ng-enter{
      animation: 1.5s fadeInToast;
      // &.ng-enter-active{
      //   opacity:1;
      // }
    
    }
    &.ng-leave{
      animation: 1.5s fadeOutToast;
      // &.ng-leave-active{
      // opacity:0;
      // }
    }
  }
  
}

.toaster-message{
    
    //center content
    display:flex;
    justify-content:center;
    align-items:center;
    
    //margin between toasters
    margin:20px;
    
    //border radius
    border-radius:3px;
    
    //colors - fonts
    background-color:$dark-gray;
    color:$white;
    font-size:1.2em;
    
    //max width
    max-width:300px;
    
    //nicer border using box shadow
    box-shadow:0px 0px 0px 2px $white,0px 0px 0px 4px $dark-gray;
    
    transition:all 150ms ease;


    

    
    //changes on hover
    &:hover{
      cursor:pointer;
      transform:translateY(-10px);
    }
    
    //toaster type icon sizing
    i.fa-exclamation,i.fa-bell,
    i.fa-check,i.fa-pencil{
      padding-top:30px;
      padding-bottom:30px;
      width:100px;
      font-size:1.8em;
      text-align:center;
    }
    i.fa-exclamation{
      font-size:2.5em;
    }
    
    //text padding
    .toaster-text{
      padding:20px 20px 20px 0px;
      font-size:1.1em;
    }
    
    //x placement
    i.fa-times{
      align-self:flex-start;
      padding-top:10px;
      padding-right:10px;
    }
    
    //different types of toasters
    &.warning{
      background-color:$red;
      box-shadow:0px 0px 0px 2px $white,0px 0px 0px 4px $red;
    }
    &.success{
      background-color:$dark-green;
      box-shadow:0px 0px 0px 2px $white,0px 0px 0px 4px $dark-green;
    }
    &.alert{
      background-color:$dark-blue;
      box-shadow:0px 0px 0px 2px $white,0px 0px 0px 4px $dark-blue;
      
    }
}

//media
@media(max-width:500px){
  ab-toasters{
    left:30px;
    bottom: 30px;
    right:30px;
    font-size:0.8em;
    .toaster-message{
      margin:0px;
    }
  }
  
}

@keyframes fadeInToast{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes fadeOutToast{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}